<% html_title l(:label_merge_issues) %>

<div class="contextual">
  <%= link_to l(:label_back_to_issues), project_issues_path(@project), :class => 'icon icon-list' %>
</div>

<h2><%= l(:label_merge_issues) %></h2>

<%= form_tag merge_project_issues_path(@project), :method => :post, :id => 'merge-form' do %>
  <div class="box">
    <div class="splitcontent">
      <div class="splitcontentleft">
        <fieldset class="box">
          <legend><%= l(:label_source_issue) %></legend>
          <p>
            <label for="from_issue_id"><%= l(:field_issue) %></label>
            <%= select_tag 'from_issue_id', 
                          options_from_collection_for_select(@issues, :id, :to_s), 
                          :include_blank => true,
                          :required => true %>
          </p>
        </fieldset>
      </div>
      
      <div class="splitcontentright">
        <fieldset class="box">
          <legend><%= l(:label_target_issue) %></legend>
          <p>
            <label for="to_issue_id"><%= l(:field_issue) %></label>
            <%= select_tag 'to_issue_id', 
                          options_from_collection_for_select(@issues, :id, :to_s), 
                          :include_blank => true,
                          :required => true %>
          </p>
        </fieldset>
      </div>
    </div>
    
    <div class="warning">
      <p><strong><%= l(:warning_merge_irreversible) %></strong></p>
      <ul>
        <li><%= l(:info_merge_attachments) %></li>
        <li><%= l(:info_merge_time_entries) %></li>
        <li><%= l(:info_merge_journals) %></li>
        <li><%= l(:info_source_issue_closed) %></li>
      </ul>
    </div>
  </div>
  
  <p>
    <%= submit_tag l(:button_merge_issues), :class => 'button-positive', :data => { :confirm => l(:text_are_you_sure) } %>
    <%= link_to l(:button_cancel), project_issues_path(@project), :class => 'button' %>
  </p>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'ticket_merger', :plugin => 'redmine_ticket_merger' %>
<% end %>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const fromSelect = document.getElementById('from_issue_id');
  const toSelect = document.getElementById('to_issue_id');
  
  function updateSelects() {
    const fromValue = fromSelect.value;
    const toValue = toSelect.value;
    
    // Verhindere gleiche Auswahl
    if (fromValue && toValue && fromValue === toValue) {
      alert('<%= j l(:error_cannot_merge_same_issue) %>');
      return false;
    }
    
    return true;
  }
  
  fromSelect.addEventListener('change', updateSelects);
  toSelect.addEventListener('change', updateSelects);
  
  document.getElementById('merge-form').addEventListener('submit', function(e) {
    if (!updateSelects()) {
      e.preventDefault();
    }
  });
});
</script>
